In [ ]:
import pandas as pd

CCTV_seoul = pd.read_csv("/content/drive/MyDrive/data/DataScience-master/DataScience-master/data/01. CCTV_in_Seoul.csv")
CCTV_seoul.head()
CCTV_seoul.columns
CCTV_seoul.columns[0]

CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:"구별"}, inplace=True)
CCTV_seoul.head()

#Popular_seoul = pd.read_excel("/content/drive/MyDrive/data/DataScience-master/DataScience-master/data/01. population_in_Seoul.xls")
#Popular_seoul.head()

Popular_seoul = pd.read_excel("/content/drive/MyDrive/data/DataScience-master/DataScience-master/data/01. population_in_Seoul.xls",
                              header=2, usecols="B, D, G, J, N")
Popular_seoul.head()

Popular_seoul.rename(columns={Popular_seoul.columns[0]:"구별",
                              Popular_seoul.columns[1]:"인구수",
                              Popular_seoul.columns[2]:"한국인",
                              Popular_seoul.columns[3]:"외국인",
                              Popular_seoul.columns[4]:"고령자"}, inplace=True)
Popular_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
import pandas as pd
import numpy as np

frame = pd.Series([1,2,3,np.nan,6,8])
frame

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.values

array([[-0.47074269, -0.32777763, -0.21386308, -0.19411338],
       [-0.90616245,  0.60883417, -0.24000015, -0.44362124],
       [ 0.4299917 ,  1.36437699, -0.36772067, -0.28022746],
       [ 1.11266463, -0.35384146, -0.12453878, -1.29662362],
       [-2.15478208,  1.16577468,  0.64419031, -0.12824968],
       [-0.35515902, -0.75742352,  2.31847826, -1.38648428],
       [-1.16337036, -0.35707724, -0.17494325,  1.0601799 ]])

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2021-05-07 to 2021-05-13
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       7 non-null      float64
 1   B       7 non-null      float64
 2   C       7 non-null      float64
 3   D       7 non-null      float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean  -0.254364 -0.379519  0.059765 -0.152281
std    1.043694  0.784718  1.197947  1.098338
min   -2.000122 -1.226430 -1.426037 -1.466204
25%   -0.726705 -1.060789 -0.865368 -0.951296
50%   -0.211497 -0.468498 -0.243283  0.037491
75%    0.430341  0.177551  1.185441  0.275738
max    1.023799  0.804771  1.447528  1.713859

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.sort_values(by="A", ascending=False)

                   A         B         C         D
2021-05-08  1.214465  1.822839 -0.483752  0.837943
2021-05-10 -0.252657  0.449139  1.406669  2.107568
2021-05-11 -0.485078  2.995402 -0.254552  1.791161
2021-05-12 -0.486946  1.118459  1.380605 -1.395054
2021-05-09 -0.514118 -0.941091 -1.112668  0.800045
2021-05-13 -0.651111 -1.319981 -1.529935  0.557111
2021-05-07 -1.232130 -0.655212  0.410773  1.060671

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame["20210507":"20210508"]

                   A         B         C         D
2021-05-07 -0.106549 -0.280989 -0.653739 -0.741795
2021-05-08  0.498129  1.108097  0.329588 -0.142529

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.loc["20210507":"20210508",['A','C']]

                   A         C
2021-05-07  0.809174  0.604383
2021-05-08 -0.761117  0.358472

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.iloc[0:3,1:3]

                   B         C
2021-05-07  0.483956  0.296123
2021-05-08  1.333030 -0.032689
2021-05-09  0.529346 -0.473958

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame[frame.A>0]

                   A         B         C         D
2021-05-07  0.411613 -0.218592 -2.363728 -0.596777
2021-05-09  0.238046  1.557218  0.245035  1.634170
2021-05-11  0.143503 -0.472872  2.591787 -0.053108

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame[frame>0]

             A         B         C         D
2021-05-07 NaN  0.463129       NaN  0.676551
2021-05-08 NaN  0.542241  1.538728  0.639107
2021-05-09 NaN       NaN       NaN  0.856945
2021-05-10 NaN  1.550158       NaN  1.668159
2021-05-11 NaN       NaN  2.031090       NaN
2021-05-12 NaN  0.278359  1.309490  0.602784
2021-05-13 NaN  0.483922       NaN       NaN

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
new_frame = frame.copy()
new_frame

                   A         B         C         D
2021-05-07 -1.835311 -1.822184 -0.676583  0.743945
2021-05-08  1.044192  0.545300  0.566506 -0.910109
2021-05-09  0.792186 -0.637172  0.842795 -1.241189
2021-05-10  2.100197 -0.391801  1.437861  0.498816
2021-05-11 -0.294491 -0.752793  0.549729  0.235629
2021-05-12 -0.293730 -0.629091  0.432081  0.770795
2021-05-13 -0.570120 -1.477150  0.674620  0.495948

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame['E'] = ["a","b","c","d","e","f","g"]
frame['E'].isin(['a','b'])

2021-05-07     True
2021-05-08     True
2021-05-09    False
2021-05-10    False
2021-05-11    False
2021-05-12    False
2021-05-13    False
Freq: D, Name: E, dtype: bool

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20210507',periods=7)
frame = pd.DataFrame(np.random.randn(7,4),index=dates,columns=['A','B','C','D'])
frame.apply(lambda x:x.max()-x.min())

A    2.942264
B    2.622453
C    1.890194
D    1.964341
dtype: float64